@page {
  size: A4;
  margin: 0;
}

body {
margin: 0;
padding: 0;
}
col,row,hr,br{
  margin: 0;
  padding: 0;
  line-height: 1;
}
.devName{
  margin-left: 35px;
  margin-top: 20px;
}
.info .name{
  color: rgb(232, 228, 221);
  font-family: 'Tiro Devanagari Hindi', serif;
}
.title{
  margin: 0;
  color: #44b6be;
  font-size: medium;
  font-weight: bold;
  font-family: 'Quicksand', sans-serif;
  font-family: 'Rajdhani', sans-serif;
}
.name{
  margin: 0;
  font-weight: normal;
  font-size: x-large;
}
@media print{
  .bg{
    background-size: cover;
    background-position-x: 0px;
    background-position-y: 0px;
    background-image: url(img/d7.png);
    background-size: auto A4;
    /* background-color: #2e3a44; */
    background-color: #ced6de;
  }
}
@media screen {
  .bg{
    box-shadow: 0 0 50px rgba(255, 0, 0, 0.5);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: -200px;
    background-position-y: 0px;
    background-image: url(img/de3.png);
    /* background-color: #2e3a44; */
    background-color: #ced6de;
  }
}
.profile{
  justify-content: center;
   display: flex;
  align-items: center;
  margin-left: 1em;
}
.profile img{
  width: 140px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
#img-profile{
  margin-left: 0;
margin-bottom: 0;
padding: 2px;
margin: 5px;
background-color:black ;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
a{
  margin: 0;
  padding: 0;
  line-height: 1;
}
p{
  margin: 0;
  padding: 0;
  line-height: 1;

}
.links .one{
  margin-left: 35px;
}

.links {
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 1;
  font-size: xx-small;
  text-align: start;
  color: white;
  background-color: #1c2328;
}
.links a{
  margin: 0;
  padding: 0;
  line-height: 1;
  color: white;
 text-decoration: none;
}
.links img{
  margin:5px 5px 5px 5px;
  width: 20px;
}
h1{
  font-size: medium;
  text-transform: uppercase;
  font-weight: bold;
}
h2{
  font-weight: bold;
  font-size: medium;
  text-transform: capitalize;
}

h6{
  font-size: small;
  font-weight: normal;
  color: #387ea9;
  line-height: 1;

}
h7{
  font-size: x-small;
  line-height: 1;
}

.list li{
  font-size: x-small;
  font-weight: bold;
  color: #000000;

}
ul{
  margin: 0;
  padding: 10px;
}

.sec1{
  padding-top: 0px;
}
.sec2{
  padding-top: 0px;
}
.sec3{
  padding-top: 0px;
}
.sec4{
  padding-top: 0px;
}
#details{
  font-size: x-small;
  font-weight: normal;
  color: #000000;
  text-align: justify;
  line-height: 1.5;

}
.part1{
  margin-left: 2em;
}
.part2{
  margin-right: 30px;
}
#workExp{
  margin-top: 0px;
}

#skills{
  margin-bottom: 5em;
  background-color: rgb(201, 201, 201);
  padding: 5px 10px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.space1{
  margin-top: 15px;
}
.space2{
  margin-top: 2em;
}
.space3{
  margin-top: 3em;
}
.project-name{
  font-weight: 500;
  line-height: 1;
}
.project-details{
  line-height: 1.5;
  font-size: small;
  text-align: justify;
}
.language-name{
  line-height: 1;
  font-size: small;
  text-align: justify;
}
.language-details{
  line-height: 1;
  font-size: xx-small;
  color: #387ea9;
  font-weight: 500;
}
#interests{
  margin-bottom: 5em;
  padding: 5px 5px;
  border-radius: 5px;
  border: solid 2px gray;
}